<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'BookHomepage.css' %}">
    <title>Document</title>
</head>
<body>
    <div id='wrapper'>
        <header>
            <h1>Book.com</h1>
            <nav>
            <a href=''>Home</a>
                <a href=''>Profile</a>
                <a href=''>Recent Order</a>
                <a href=''>Log out</a>
            </nav>
        </header>

        <div id='container'>
            <div id= 'BookOrders'>
                <h2>Hello User</h2>





                <button>Purchase Books</button>

            </div>
        </div>
    </div>
</body>
</html>