<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <html>

<head>
<meta charset="UTF-8">
</head>

<body>
<p>Title:{{thebook.title}}</p>
<p>Author:{{thebook.author}}</p>
<p>YearPublished:{{thebook.yearPublished}}</p>
<p>Genre:{{thebook.genre}}</p>
<p>Description:{{thebook.description}}</p>
</body>

</html>

</html>
    
</body>
</html>