<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'BookHomepage.css' %}">
    <title>Document</title>
</head>

<body>
    <div id='wrapper'>
        <header>
            <h1>Book.com</h1>
            <nav>
                <a href='/homePage'>Home</a>
                <a href='/edit'>Profile</a>
                <a href='/cart'>Cart</a>
                <a href='/recentorder'>Recent Order</a>
                <a href='/logout'>Log out</a>
            </nav>
        </header>

        <div id='container'>
            {% if messages %}
                <ul>    
                    {% for message in messages %}    
                        <li>{{ message }}</li>    
                    {% endfor %}
                </ul>
            {% endif %}
                
                    <h1>Hello User</h1>

                    <div class="books">
                        {% for book in books %}
                        <p>{{book.author}}</p>
                        <p>{{book.title}}</p>
                        <p>{{book.yearPublished}}</p>
                        <p>{{book.genre}}</p>

                        <a href="/viewbook/{{book.id}}">viewbook</a>
                        <br>
                        {% endfor %}
                    </div>


        </div>
    </div>
</body>

</html>