<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id='wrapper'>
        <header>
            <h1>Book.com</h1>
            <ul>
                <li>Feature</li>
                <li>How it Works</li>
                <li>Pricing</li>
            </ul>
        </header>
        <div id= 'PropositionWrapper'>

            <button href= ''></button>
        </div>

        <div id= 'FeatureWrapper'>

        </div>

        <div id= 'HowitworksWrapper'>

        </div>

        <div id= 'PricingWrapper'>


            <button href= ''></button>
        </div>

        <footer>
            
        </footer>



    </div>
    
</body>
</html>