<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'ordersuccess.css' %}">
    <title>Document</title>
</head>
<body>
    <div id='wrapper'>
        <header>
            <ul>
                <a href='/homePage'>Home</a>
                <a href='/edit'>Profile</a>
                <a href='/recentorder'>Cart</a>
                <a href='/recentorder'>Recent Order</a>
                <a href='/logout'>Log out</a>
            </ul>
        </header>
        <div id= 'WrapperOrder'>
            <h1>Thank you for your order {{user.first_name}} </h1>
            <p>Sit back and relax and you will receive your item in 2 Days </p>
            <p>Happy Reading!</p>
        </div>
    </div>
</body>
</html>