<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'Profileedit.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="header">
        <h1>Welcome, {{ user.first_name }}!</h1>
        <h2><a href="/landingPage">Back</a></h2>
        <h2><a href="/logout">Log Out</a></h2>
        <hr>
    </div>

    <div id="edit">
        <h2>Edit My Account</h2>
        <form action="/editUser" method="post">
            {% csrf_token %}
                <label for="first_name">First Name</label>
                <input type="text" name="first_name" id="first_name" value="{{user.first_name}}"><br>
                <label for="last_name">Last Name</label>
                <input type="text" name="last_name" id="last_name" value="{{user.last_name}}"><br>
                <label for="email">Email</label>
                <input type="text" name="email" id="email" value="{{user.email}}"><br>
                <label for="username">Username</label>
                <input type="text" name="username" id="username" value="{{user.username}}"><br>
                <label for="password">Password</label>
                <input type="text" name="password" id="password" value="{{user.password}}"><br>
                <input type="submit" value="Update">
        </form>
    </div>
        <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
</body>
</html>