<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'Profileedit.css' %}">
    <title>Document</title>
</head>
<body>
    <div id='wrapper'>
        <header>
            <h1>Book.com</h1>
            <nav>
                <a href='/homePage'>Home</a>
                <a href='/edit'>Profile</a>
                <a href='/cart'>Cart</a>
                <a href='/recentorder'>Recent Order</a>
                <a href='/logout'>Log out</a>
            </nav>
            </nav>
        </header>

        <div id='container'>
            <h1>Book.com</h1>
            {% if messages %}
            <ul>    
                {% for message in messages %}    
                    <li>{{ message }}</li>    
                {% endfor %}
            </ul>
        {% endif %}
            
            <form action="/editUser" method="post">
                {% csrf_token %}
          
                <h3>Edit your Account</h3>
                <label> <p>First name</p> 
                    <input type = 'text' name='first_name' placeholder=" Enter your First Name here" value="{{user.first_name}}">
                </label>

                <label> <p>Last name </p> 
                    <input type = 'text' name='last_name' placeholder="Enter your Last Name here"  value="{{user.last_name}}">
                </label>

                <label> <p>Username </p> 
                    <input type = 'text' name= 'username' placeholder="Enter your Username here"  value="{{user.username}}">
                </label>

                
                <label><p>Email  </p>
                    <input type = 'text' name= 'email' placeholder="Enter your Email here" value="{{user.email}}">
                </label>

                <label><p>Password</p>
                    <input type = 'password' name= 'password' placeholder="Enter your Password here"  value="{{user.password}}">
                </label>

                <label><p>Confirm Password</p>
                    <input type = 'password' name= 'confirm' placeholder="Enter your Password Again">
                </label>

                <input type='submit' value= 'Update your profile'> 
              

            </form>


        </div>
    </div>
    
    
</html>