<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'RecentOrder.css' %}">
    <title>Document</title>
</head>
<body>
    <div id='wrapper'>
        <header>
            <h1>Book.com</h1>
            <nav>
                <a href='/homePage'>Home</a>
                <a href='/edit'>Profile</a>
                <a href='/cart'>Cart</a>
                <a href='/recentorder'>Recent Order</a>
                <a href='/logout'>Log out</a>
            </nav>
        </header>

        <div id='container'>
            <h2> All Recent Orders</h2>
                <table style="width:100%" class='styled-table'>
                  <thead>
                      <tr>
                        <th>Order Number </th>
                        <th>Item Purchased</th>
                        <th> Date of purchase</th>
                        
                      </tr>
                    </thead>
                    <tbody>
                        
                        {%for order in recentorder  %}
                        <tr>
                        <td>{order.id}}</td>
                          <td> {{order.list}}</td>
                        <td>{{order.date}} </td>
                        
  
                      
                      </tr>
                    </tbody>    
              {% endfor %} 
        </table>
      </div>
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        <!-- <div id='container'>

            <h2>  All Your recent orders!</h2>
            <table style="width:100%" class='styled-table'>
                <thead>
                    <tr>
                        <th>Order Number </th>
                        <th>Item Purchased</th>
                        <th> Date of purchase</th>
                    </tr>
                </thead>
                <tbody>

                {% for books in all_books %}
                    <tr>
                        <td>{{book.id}} </td>
                        <td>{{book.title}}</td>
                        <td>{{book.updated_at}}</td>
                    </tr>
                {% endfor %}
                </tbody>

                    {%for order in orders%}
                    <tr>
                        <td>{{order.id}}</td>
                        <td>{{order.book.title}}</td>
                        <td>{{order.purchasedate}}</td>
                    </tr>
                    {%endfor%}
                </tbody>    
            </table>
        </div> -->

    </div>
</body>
</html>