<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id='wrapper'>
        <header>
            <ul>
                <li> <a href=''>Home</a></li>
                <li> <a href=''> Profile</a></li>
                <li> <a href=''>Recent Order</a></li>
                <li> <a href=''>Log out</a></li>
            </ul>
        </header>

        
            <table style="width:100%" class='styled-table'>
                <thead>
                    <tr>
                        <th>Order Number </th>
                        <th>Item Purchased</th>
                        <th> Date of purchase</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td> </td>
                        <td></td>
                    </tr>
                </tbody>    
            </table>
        

    </div>
</body>
</html>