<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'Register.css' %}">
    <title>Registration Page</title>
</head>
<body>
    <div id='wrapper'>        
        <div id="container">
            {% if messages %}
                <ul >    
                    {% for message in messages %}    
                        <li>{{ message }}</li>    
                    {% endfor %}
                </ul>
            {% endif %}
            <div class="form">
                <form action='/registerUser' method="POST" id ='survey-form'>
                    {% csrf_token %}
                    <h2>Create an Account</h2>
                    <label> <p>First name</p> 
                        <input type = 'text' name='first_name' id='first_name' placeholder=" Enter your First Name here" size="40">
                    </label>

                    <label> <p>Last name </p> 
                        <input type = 'text' name='last_name' id='last_name' placeholder="Enter your Last Name here" size="40">
                    </label>

                    <label> <p>Username </p> 
                        <input type = 'text' name='username' id='username' placeholder="Enter your Username here" size="40">
                    </label>


                    <label><p>Email  </p>
                        <input type = 'text' name='email' id='email' placeholder="Enter your Email here" size="40">
                    </label>

                    <label><p>Password</p>
                        <input type = 'password' name='password' id='password' placeholder="Enter your Password here" size="40">
                    </label>

                    <label><p>Confirm Password</p>
                        <input type ='password' name='confirm' id='confirm' placeholder="Enter your Password Again" size="40">
                    </label>
                    <br>
                    <input type='submit' value=' Register!'>

                </form>
            </div>
            <div class="login">
                <p>Already registered? Click Here to Login! <button id='loginButton'><a href='/login'>Log in</a></button> </p>
            </div>
        </div>
    </div>
</body>
</html>