@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import 'https://fonts.googleapis.com/css?family=Lato:400,700';

/* * {
    margin:0;
    padding: 0;
    border: solid 1px red;
} */

header{
    height: 80px;
    background:#000046;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
    top: 0;
    align-items: center;
}

h1{
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 100;
    margin-right: 1rem;
}

.navbar-nav {
    width: 100%;
    margin: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header nav{
    background:#000046;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


#cartdiv {
    margin-top: 150px;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

#cart {
    width:40px;
    height: 64px;
    margin-right: 50px;
}

#cart img {
    width:50px;
    
}

@media screen and (max-width: 1099px) {
    #cart img{
        width:40px;
    }
}

#cart:hover {
    cursor: pointer;
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
}


#container h1{
    color: black;
    width: 100%;
    margin: auto;
    text-align: center;
    font-size: 2rem;
    line-height: 1;
    
}

h1{
    display: inline;
    margin-top: 40px;
    margin-left: 55px;
    padding:0;
    color: white;
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 100;
}


.holder {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 50%;
    margin: auto;
    margin-bottom: 70px;
    padding: 50px;
    font-family: Montserrat;
}


.holder h2 {
    color: black;
    margin: auto;
    
}

.holder img {
    width: 60%;
    margin-top: 15px;
    margin-bottom: 10px;
    align-self: center;
    
}

.holder h3 {
    color: black;
    text-align: left;
    margin-bottom: 4px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
}

.holder p {
    text-align: left;
    font-size: 1.5rem;
    font-family: Montserrat;
    

}

#container button{
    background-color:#000046;;
    color: white;
    font-weight: 300;
    margin: auto;
    height: 40px;
    width: 180px;
    border: none;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    cursor: pointer;
}

#container button:hover {
    background-color: green;
    
}


#container button a {
    text-decoration: none;
    color: white;
    justify-content: center;
    font-family: Montserrat;
    
}

#Review{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius:5px;
    font-family: Montserrat;
    width: 50%;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.desc{
    margin-top: 25px;
    font-size: large;
    text-align: left;
}

.rev_name {
    display: inline-block;
    font-size: small;
    font-weight: bolder;
}


.rev_created{
    display: inline-block;
    font-size: small;
    color:green
}

label{
    width: 100%;
    display: flex;
    align-items: center;
}

input[type=text]{
    width: 100%;
    height: 100px;
    align-items: center;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px black solid;
    font-family: Montserrat;
    font-size: large;

}

input[type=submit]{
    background-color: #000046;
    color: white;
    font-weight: 300;
    margin: auto;
    margin-bottom: 15px;
    height: 40px;
    width: 180px;
    border: none;
    border-radius: 4px;
    align-items: center;
}

input[type=submit]:hover{
    background-color: green;
    cursor: pointer;
}

.review_holder{
    
    width: 100%;
    
}