@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import 'https://fonts.googleapis.com/css?family=Lato:400,700';


header{
    height: 80px;
    background:#000046;
    width: 100%;
    z-index: 12 ;
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
    top: 0;
    align-items: center;
}

h1{
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 100;
    margin-right: 1rem;
    
}


.navbar-nav {
    width: 100%;
    margin: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header nav{
    background:#000046;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


#cartdiv {
    margin-top: 150px;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}



#cart {
    width:40px;
    height: 64px;
    margin-right: 50px;
}

#cart img {
    width:50px;
    
}

@media screen and (max-width: 1099px) {
    #cart img{
        width:40px;
    }
}





#cart:hover {
    cursor: pointer;
}


#container {
    width: 100%;
    display: flex;
}

h3 {
    font-size: x-large;
    margin-bottom: 15px;
    font-family: Montserrat;
}

@media screen and (max-width: 751px) {
    h3{
        font-size: medium;
        
    }
}

@media screen and (max-width: 375px) {
    h3{
        font-size: small;
    }
}


.books {
    display: inline-block;
    width: 75%;
    margin: auto;
    
}

.books p{
    display: block;
    font-size: large;
    margin-bottom: 10px;
}
@media screen and (max-width: 751px) {
    .books p{
        
        font-size: medium;
    }
}

@media screen and (max-width: 375px) {
    .books p{
        font-size: small ;
    }
}




.books img {
    height: 100%;
    width: 25%;
    display: inline;
    margin-right: 15px;;
    margin-bottom: 30px;
    
}
@media screen and (max-width: 751px) {
    .books img{
        height: 200px;
        width: 107px ;
        
    }
}

@media screen and (max-width: 375px) {
    .books img{
        height: 150px;
        width: 90px ;
    }
}



.seperator {
    display: inline-block;
    width: 70% ;
    vertical-align: top;
}

@media screen and (max-width: 375px) {
    .seperator{
        width: 100% ;
        
    }   
}
    
#container button{
    background-color: #000046;
    color: white;
    font-weight: 300;
    margin: auto;
    height: 40px;
    width: 100px;
    border: none;
    border-radius: 4px;
    margin-top: 5%;
    display: inline-block;
    font-size: 70%;
}




@media screen and (max-width: 751px) {
    #container button{
        width:50px;
        height: 20px ;
        font-size: 40%;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 375px) {
    #container button{
        width:40px;
        height: 20px ;
        margin-bottom: 70px ;
        font-size:30% ;
     
    }
}

#container button:hover {
    background-color: darkgreen;
}


#container button a {
    text-decoration: none;
    color: white;
    text-align: center;
    font-family: Montserrat;
    
    
}