@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import 'https://fonts.googleapis.com/css?family=Lato:400,700';

* {
    margin:0;
    padding: 0;
    /* outline: red dotted; */

}

#wrapper{
    width: 100%;
    margin: 0 auto;
}

header{
    height: 80px;
    background:#000046;
    width: 100%;
    z-index: 12 ;
    position: fixed;
    padding-top: 10px;
    top: 0;
    align-items: center;
}

#container {
    margin-top: 190px;
    width: 100%;
    font-size: 30px;
    padding: 50px;
    font-family: Montserrat;
    text-align: center;
}
    


#container h1{
    color: black;
    margin: auto;
    text-align: center;
}

h1{
    display: inline;
    margin-top: 40px;
    margin-left: 55px;
    padding:0;
    color: white;
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 100;
    
    /* margin-left: 10px; */
}

nav{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin: auto;
    
    
}

nav a {
    text-decoration: none;
    color: white;
    margin: 10px;
    text-align: center;
    width: 100%;
    font-family: Montserrat;
    
    

}

nav a:hover {
    font-size: 20px;
    color:green;

}


.holder {
    background-color: white;
    width: 50%;
    margin: auto;
   
    border: 2px solid black;
    border-radius:5px;
    /* text-align: left;
    font-size: 30px; */
    padding: 50px;
    font-family: Montserrat;
}


.holder h2 {
    color: black;
    margin: auto;
    
}

.holder h3 {
    color: black;
    text-align: left;
    margin-bottom: 4px;
    
}

.holder p {
    text-align: left;
    font-size: 30px;
    font-family: Montserrat;

}


button{
    background-color: green;
    color: white;
    font-weight: 300;
    margin: auto;
    height: 40px;
    width: 180px;
    border: none;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    margin-top: 70px;
   
}

button:hover {
    background-color: green;
    width: 250px;
    height: 60px;
    font-size: large;
}


button a {
    text-decoration: none;
    color: white;
    justify-content: center;
    margin-top: 15px;
    font-family: Montserrat;
    
}

.Review{
    background-color: white;
    width: 50%;
    margin: auto;
   
    border: 2px solid black;
    border-radius:5px;
    /* text-align: left;
    font-size: 30px; */
    padding: 50px;
    font-family: Montserrat;
}

}