@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import 'https://fonts.googleapis.com/css?family=Lato:400,700';

* {
    margin:0;
    padding: 0;
    /* outline: red dotted; */
}



#wrapper{
    width: 1000;
    margin: 0 auto;
}

header{
    height: 80px;
    background:#1D1D1D;
    width: 100%;
    z-index: 12 ;
    position: fixed;
    padding-top: 10px;
    top: 0;
    align-items: center;
}

#container{
    margin-top: 72px;
    text-align: center;
}

h1{
    display: inline;
    margin-top: 40px;
    margin-left: 55px;
    padding:0;
    color: white;
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 100;
}

nav{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin: auto;
}

nav a {
    text-decoration: none;
    color: white;
    margin: 10px;
    text-align: center;
    width: 100%;
    font-family: Montserrat;
    font-size:20px;
    
}

nav a:hover {
    font-size: 30px;
    color:green;

}


.PropLeft h2 {
    margin-top: 80px;
    margin-bottom: 25px;
    color: white;
    font-size: 50px;
    display: block;
    font-family: Montserrat-600;
}

#PropositionWrapper{
    display: flex;
    justify-content: space-around;
    background-color: #1D1D1D;
    font-family: Montserrat;
    padding-bottom: 10px;
    margin-bottom: 100px;
}

.PropLeft{
    width: 600px;
    text-align: center;
}

.PropLeft p{
    display: block;
    width: 900px;
    font-size: 20px;
    font-family: "Proxima Nova", sans-serif;
    color: white;
    text-align: left;
    margin-bottom: 25px;
    line-height: 25px;
    
    
} 

#PropositionWrapper p{
    display: inline-block;
    width: 400px;
    
    padding: 0;
    color: white;
}

#Propositonimage {
    width: 640px; 
    height: 600px;
    display: inline-block;
    margin-top: 35px;
}
button {
    width: 100px;
    height: 45px;
    display: block;
    background-color: green;
    margin: auto;
    border: 2px solid black;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    font-size: 15px ;
    font-family: "Proxima Nova", sans-serif;
    text-decoration: none;
}

button a {
    text-decoration: none;
    color: white;
}


button:hover {
    width: 130px;
    height: 50px;
    font-size: 20px;
    text-decoration: none;
}

h2 {
    display: block;
    align-items: center;
    color:black;
    margin-top: 40px;
    margin-bottom: 25px; 
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    
    
}



#FeatureWrapper{
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    margin-bottom: 50px;
}

.Benefitsbox{
    display: inline-block;
    margin: 10px;
    border: 1px solid black;
    border-radius: 5px;
    width: 700px;
    height: 500px;
    margin-bottom: 50px;
    /* align-items: center; */
}


.Benefitsbox li {
    list-style-type: none;
    margin: 25px 10px 10px 10px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 20px ;
}

.Benefitsbox img{
    display: block;
    margin: auto;
    width: 90px;
}


.Benefitsbox h3{
    text-align: center;
    align-items: center;
    margin: 15px 0px 55px 0px;
    padding: 15px;
    background-color: #DDDDDD;
    font: 25px 'Lato', sans-serif;
    font-weight: 600;
}

#HowitworksWrapper {
    display: flex;
    justify-content: space-around;
    margin-bottom: 120px;
}

#HowitworksWrapper img{
    height: 70px;
    width: 70px;
    margin-top: 12px;
    
    
}

.Howitbox{
    width: 25%;
    margin-bottom: 20px;
    text-align: center;
    
}

.Howitbox h3 {
    text-align: center;
    margin: 15px 0px 30px 0px; 
    font: 25px 'Lato', sans-serif;
    text-align: center;
    margin: 15px 0px 50px 7px;
    padding: 15px;
    background-color: #DDDDDD;
    font: 25px 'Lato', sans-serif;
    font-weight: 600;
}

.Howitbox p {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    text-align: center;
    margin-left: 7px ;
    
}

#PricingWrapper {
    display: block;
    width: 550px;
    margin: auto;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
}

#PricingWrapper button{
   margin-bottom: 25px;
   margin-top: 25px;
}


#PricingWrapper h3 {
    font: 25px 'Lato', sans-serif;
    margin-top: 20px;
    padding: 15px;
    background-color: green;
    font-weight: 600;
    opacity: 80%;
}

#PricingWrapper h4 {
    font: 35px 'Lato', sans-serif;
    margin-top: 20px;
    padding: 15px;
    font-weight: 600;
}

#PricingWrapper li  {
    list-style-type: none;
    margin: 25px 10px 10px 10px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}
h3 {
    margin-bottom: 10px;
    /* border: 1px solid black; */
   
}

h4{ 
    margin-bottom: 25px;
}

footer {
    background-color: #1D1D1D ;
    padding: 20px 20px 20px 20px;
    text-align: center;
    color: white;
    margin-top: 60px;
}

