@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

* {
    margin:0;
    padding: 0;
}

body {
    background-color: whitesmoke;
}

.header{
    height: 120px;
}

.header h1{
    margin-top: 40px;
    margin-left: 30px;
    padding:0;
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 100;
}

.messages ul{
    margin-bottom: 100px;
    margin: auto;
    width: 50%;
    width: 200px;
    padding-bottom: 25px;
    list-style-type: none;
}

.messages li{
    padding: 3px;
    font-size: 14px;
    font-family: Montserrat;
    color: red;
}

#container{
    margin-top: 400px;
    margin: auto;
    width: 50%;
    width: 520px;
    background-color: black;
    border-radius: 2%;
}

#container h1{
    padding-top: 35px;
    font-size: 36px;
    font-family: Montserrat;
    text-align: center;
    color: white;
}

.loginUser{
    font-family: Montserrat;
    font-size: 16px;
    padding: 20px;
    color: white;
}

.loginUser input{
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 440px;
}

.submit{
    margin: auto;
    width: 50%;
    width: 380px;
}

.submit input{
    background-color: green;
    text-align: center;
    width: 380px;
    color: whitesmoke;
    font-family: Montserrat;
    font-size: 18px;
}


