@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

* {
    margin:0;
    padding: 0;
    /* outline: red dotted; */

}

#wrapper{
    width: 1000;
    margin: 0 auto;
}

header{
    height: 80px;
    background:#1D1D1D;
    width: 100%;
    z-index: 12 ;
    position: fixed;
    padding-top: 10px;
    top: 0;
    align-items: center;
}

#container{
    margin-top: 140px;
    text-align: center;
    padding-bottom: 50px;
    border: black 2px;
}


h1{
    display: inline;
    margin-top: 40px;
    margin-left: 55px;
    padding-bottom: 10px;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 100;
}

nav{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin: auto;


}

nav a {
    text-decoration: none;
    color: white;
    margin: 10px;
    text-align: center;
    width: 100%;
    font-family: Montserrat;



}

nav a:hover {
    font-size: 20px;
    color:green;

}

#container h1{
    color: black;
    text-align: center;
    padding-top: 15px;
}

h1{
    margin-bottom: 15px;
}

#wrapperOrder{
    border: 2px black;
}

p{
    padding-top: 10px;
}
