@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import 'https://fonts.googleapis.com/css?family=Lato:400,700';

* {
    margin:0;
    padding: 0;
    /* outline: red dotted; */

}

#wrapper{
    width: 1000;
    margin: 0 auto;
}

header{
    height: 80px;
    background:#1D1D1D;
    width: 100%;
    z-index: 12 ;
    position: fixed;
    padding-top: 10px;
    top: 0;
    align-items: center;
}

#container{
    margin-top: 172px;
    padding-bottom: 30px;
    
}

h1{
    display: inline;
    margin-top: 40px;
    margin-left: 55px;
    padding:0;
    color: white;
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 100;
    
    /* margin-left: 10px; */
}

nav{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin: auto;
    
    
}

nav a {
    text-decoration: none;
    color: white;
    margin: 10px;
    text-align: center;
    width: 100%;
    font-family: Montserrat;
    
    

}

nav a:hover {
    font-size: 20px;
    color:green;

}



form{
    width:800px;
    /* border: 3px Solid black; */
    margin: auto;
    background-color: grey;
    /* opacity:90%; */
    border-radius: 15px;
    padding-left: 10px;
    padding-bottom: 50px;
    padding-top: 15px;
    border: 2px solid black;

    

}


label {
    display: block;
    margin: 20px;
    font-family:Roboto ;
    font-size: 20px;
    font-weight: 700;
    color: black;
    font-family: Montserrat;

}

h3{
    text-align: center;
    font-size: 30px;
    margin-top: 40px;
    color:black;
    font-family: Montserrat;

}

input[type=submit] {
    display: block;
    margin:auto;
    padding-bottom: auto;
    border-radius: 6px;
    background-color:green;
    border: 2px;
    font-size: 20px;
    width: 600px;
    height: 50px;
    color: white;
}

input[type=text] {
    display: block;
    margin-top:8px;
    width: 700px;
    height: 30px;
    border: 2px solid black;
}

input[type=password] {
    display: block;
    margin-top:8px;
    width: 700px;
    height: 30px;
    border: 2px solid black;
    padding: 4px;
}

input, textarea {
    margin: 0;
    font-family: inherit;
    font-size: 15px;
    line-height: inherit;
    padding-left: 10px ;
    border-radius: 5px;
   
    
  }

