@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

* {
    margin:0;
    padding: 0;
}

body {
    background-color: whitesmoke;
}

/* #wrapper{
    width: 1000;
    margin: 0 auto;
} */

.header{
    height: 80px;
    background-color: black;
    width: 100%;
    z-index: 12 ;
    position: fixed;
    padding-top: 10px;
    top: 0;
    align-items: center;
}


h1{
    display: inline;
    margin-top: 40px;
    margin-left: 55px;
    padding:0;
    color: white;
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 100;
    
    /* margin-left: 10px; */
}

nav{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin: auto;
    
    
}

nav a {
    text-decoration: none;
    color: white;
    margin: 10px;
    text-align: center;
    width: 100%;
    font-family: Montserrat;
    
    

}

nav a:hover {
    font-size: 20px;
    color:green;

}
#container{
    margin-top: 150px;
}
#edit{
    margin: auto;
    width: 50%;
    width: 520px;
    background-color: black;
    border-radius: 2%;
    color: white;
    font-family: Montserrat;
    font-size: 16px;
}

#edit h2{
    font-family: Montserrat;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

#edit label{
    margin: 10px;
}

#edit input{
    width: 460px;
    margin: 5px 0px 15px 10px;
}

#edit input[type=submit] { 
    background-color: green;
    margin-left: 75px;
    text-align: center;
    width: 370px;   
    color: white;
    font-family: Montserrat;
    font-size: 18px;
}

.messages li{
    font-size: 14px;
    font-family: Montserrat;
    color: red;
}