@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import 'https://fonts.googleapis.com/css?family=Lato:400,700';

* {
    margin:0;
    padding: 0;
}

body {
    /* width: 1000px; */
    background-color: whitesmoke;
    background-image: url(staticc/ima);
}

#wrapper{
    padding-top: 30px;
}


ul{
    margin-top: 50px ;
    margin: auto;
    width: 50%;
    width: 400px;
    list-style-type: none;
}

li{
    padding: 3px;
    font-size: 14px;
    font-family: Montserrat;
    color: red;
    margin: 10px
}




button{
    background-color: green;
    color: white;
    font-weight: 300;
    margin-left: 450px;
    height: 40px;
    width: 100px;
    border: none;
    border-radius: 4px;
}



button a {
    text-decoration: none;
    color: white;
}

h2 {
    display: flex;
    justify-content: center;
    font-family: Passero One;

    
}

#wrapper{

    display: flex;
    width: 1000px;
    justify-content: center;
    margin: auto;

}

h1{
    display: block;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-right: 250px;
    text-align: left;
    /* width: 50%; */
}




form{
    width:800px;
    /* border: 3px Solid black; */
    margin: 90px 20px 20px 20px;
    background-color: lightblue;
    /* opacity:90%; */
    border-radius: 15px;
    padding-left: 10px;
    padding-bottom: 50px;
    padding-top: 15px;
    border: 2px solid black;

    

}


label {
    display: block;
    margin: 20px;
    font-family:Roboto ;
    font-size: 20px;
    font-weight: 700;
    color: black;
    font-family: Montserrat;

}

h3{
    text-align: center;
    font-size: 30px;
    margin-top: 40px;
    color:black;
    font-family: Montserrat;

}

input[type=submit] {
    display: block;
    margin:auto;
    padding-bottom: auto;
    border-radius: 6px;
    background-color:green;
    border: 2px;
    font-size: 20px;
    width: 600px;
    height: 50px;
    color: white;
}

input[type=text] {
    display: block;
    margin-top:8px;
    width: 700px;
    height: 30px;
    border: 2px solid black;
}

input[type=password] {
    display: block;
    margin-top:8px;
    width: 700px;
    height: 30px;
    border: 2px solid black;
    padding: 4px;
}

input, textarea {
    margin: 0;
    font-family: inherit;
    font-size: 15px;
    line-height: inherit;
    padding-left: 10px ;
    border-radius: 5px;
   
    
  }
.login{
    text-align: center;
    margin-top: 7px;
    font-size: 20px;
    
}
 
.login a {
    color:black;
}

.login a:hover {
    color: green;
    font-size: 30px;
}
