@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

* {
    margin:0;
    padding: 0;
    /* outline: red dotted; */

}

#wrapper{
    width: 1000;
    margin: 0 auto;
}