@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import 'https://fonts.googleapis.com/css?family=Lato:400,700';

* {
    margin:0;
    padding: 0;
}

body {
    background-color:#000046;
}

h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    margin-bottom: 4%;
    font-size:3rem ;
}


@media screen and (max-width: 1099px) {
    h1 {
        font-size: 2rem;
    }
}

@media screen and (max-width: 375px) {
    h1 {
        font-size: 1.5rem;
    }
}



#wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
#container{
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}


ul{
    margin-top: 50px ;
    margin: auto;
    width: 50%;
    width: 400px;
    list-style-type: none;
}

li{
    padding: 3px;
    font-size: .5rem;
    font-family: Montserrat;
    color: white;
    margin: 10px
}

@media screen and (max-width: 1099px) {
    li {
        font-size: .5rem;
    }
}

@media screen and (max-width: 560px) {
    li {
        font-size: .5rem;
    }
}


h2 {
    display: flex;
    justify-content: center;
    font-family: Passero One;
    color: white;
    margin-top: 20px;
    margin-bottom: 40px;

}


form{
    width:45%;
    background-color: white;
    padding-left: 1rem;
    padding-bottom: 50px;
    padding-top: 15px;
    border: .5px solid grey;
    display: flex;
    flex-direction: column;
    margin-bottom: 2%;
}

@media screen and (max-width: 1099px) {
    form {
        width: 70%;
        
    }
}

@media screen and (max-width: 560px) {
    form {
        width: 90%;
        
    }
}


label {
    font-family:Roboto ;
    font-size: 1rem;
    margin: 1rem;
    font-weight: 700;
    color: black;
    font-family: Montserrat;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

@media screen and (max-width: 1099px) {
    label {
        font-size: 1rem;
    }
}

@media screen and (max-width: 560px) {
    label {
        font-size: .8rem;
    }
}



label p{
    align-self: start;
}


input[type=submit] {
    margin:auto;
    border-radius: 6px;
    background-color:green;
    border: 1px;
    font-size: 20px;
    width: 50%;
    height: 50px;
    color: white;
}

@media screen and (max-width: 1099px) {
    input[type=submit] {
        font-size: 1rem;
    }
}

@media screen and (max-width: 560px) {
    input[type=submit] {
        font-size: .8rem;
        width: 40%;
        height: 25px;
    }
}


input[type=text] {
    align-self: start;
    margin-top:8px;
    width: 90%;
    height: 30px;
    border: .5px solid grey;
}

@media screen and (max-width: 1099px) {
    input[type=text] {
        font-size: 1rem;
    }
}

@media screen and (max-width: 560px) {
    input[type=text] {
        font-size: .8rem;
    }
}


input[type=password] {
    align-self: start;
    margin-top:8px;
    width: 90%;
    height: 30px;
    border: .5px solid grey;
    padding: 4px;
}

@media screen and (max-width: 1099px) {
    input[type=password] {
        font-size: 1rem;
    }
}

@media screen and (max-width: 560px) {
    input[type=password] {
        font-size: .8rem;
    }
}

input, textarea {
    font-family: inherit;
    font-size: 15px;
    line-height: inherit;
    padding-left: 10px ;
    background-color: honeydew;
}

.login{
    text-align: center;
    margin-top: 7px;
    font-size: 1rem;
}

@media screen and (max-width: 560px) {
    .login {
        font-size: .8rem;
    }
}

.login a {
    color:black;
}


.login a:hover {
    color: #004C91;
}
