@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

* {
    margin:0;
    padding: 0;
}

body {
    background-color: whitesmoke;
}

.header {
    height: 80px;
}

.header h1{
    display: inline;
    margin-top: 40px;
    margin-left: 55px;
    padding:0;
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 100;
}

#wrapper ul{
    margin-bottom: 100px;
    margin: auto;
    width: 50%;
    width: 400px;
    list-style-type: none;
}

#wrapper li{
    padding: 3px;
    font-size: 14px;
    font-family: Montserrat;
    color: red;
}

#container {
    margin-top: 200px;
    margin: auto;
    width: 50%;
    width: 650px;
    background-color: black;
    border-radius: 2%;
}

.form{
    /* display: flex;
    margin-left: 200px; */
    padding-bottom: 10px;
    width: 400px;
    color: white;
    
}

#container h2{
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 50%;
}

.form p{
    font-family: Montserrat;
    font-size: 15px;
    color: white;
    margin-left: 10px;
    margin-bottom: 5px;
    padding-top: 5px;
}

.form input{
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: Montserrat;
    font-size: 16px;
    color: white;
}

.form input[type=submit] { 
    background-color:green;
    padding: 5px;
    margin-top: 5px;
}


.login p{
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    color: white;
}

.login button{
    /* margin-left: 15px; */
    /* padding: 5px; */
    border: none;
    background-color: black;
    font-family: Montserrat;
    font-size: 20px;
}

.login  a:link{
    color: white;
    text-decoration: none;
}

.login a:hover{
    text-decoration: underline;
}


